table{
    border-style:solid;
}
th, td{
    border-style:solid;
}
.outer-content{
    background-color:pink;
    width:75%;
    height:50px;
	margin-top: 20px;
}
.inner-content{
	position:relative;
	margin: 0 auto;
	background-color:blue;
	width:75%;
	height:20px;
	top:15px;
	text-align: center;	
}

tbody tr:nth-of-type(even) {
	background:yellow;
}

tbody tr:nth-of-type(odd) {
	background:orange;
}